<!-- display_events.html -->

<!-- This page is the main dashboard,
 displaying all upcoming and approved
  events with the option for an alumnus
	 to submit an event for approval -->


<!-- extend base template to minimize repetition -->
{% extends 'base.html' %}

{% block title %}Alumni Events{% endblock %}

<!-- Begin Page Content -->
{% block content %}
<!-- Button to trigger modal popup with event form -->
<button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#eventForm">Submit an Event</button>

<!-- Modal -->
<div class="modal fade" id="eventForm" tabindex="-1" role="dialog" aria-labelledby="eventFormLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title" id="eventFormLabel">Organize an Event</h1>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<h4 class="text-center">
					Please fill in the following form and the Alumni Office
					will contact you soon with the approval status of your event.
				</h4>
				<br></br>
				<form action="/add_event/" method="POST">
				{% csrf_token %}
					<div class="form-group">
						<label for="HostName">Host Information:</label>
						<input class="my-2 form-control" type="text" placeholder="First Name" name="first_name" required="required" id="HostName">
						<input class="my-2 form-control" type="text" placeholder="Last Name" name="last_name" required="required">
						<input class="my-2 form-control" type="text" placeholder="Class Year" name="class_year" required="required">
						<input class="my-2 form-control" type="text" placeholder="Major" name="major" required="required">

					</div>
					<div class="form-group">
						<label for="EventName">Event Information:</label>
						<input class="my-2 form-control" type="text" placeholder="Event Title" name="title" required="required" id="EventName">
						<input class="my-2 form-control" type="text" placeholder="Location" name="location" required="required">
						<input class="my-2 form-control" type="date" id="start" placeholder="yyyy/mm/dd" name="date" required="required">
						<script type="text/javascript">
										$(document).ready(function(){
											$('#appt-time').timepicker({
													timeFormat: 'h:mm p',
													interval: 60,
													minTime: '0',
													maxTime: '11:00pm',
													defaultTime: '12',
													startTime: '12:00',
													dynamic: true,
													dropdown: true,
													scrollbar: true
											});
										});
						</script>
						<input class="my-2 form-control" type="time" id="appt-time" placeholder="hh:mm am/pm" name="time" required="required">
						<textarea class="my-2 form-control" type="text" placeholder="Description" name="description" required="required"></textarea>
						<small id="passwordHelpBlock" class="form-text text-muted">
  						Good descriptions give people a better idea of what to expect.
						</small>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button type="button submit" class="btn btn-primary">Submit for Approval</button>
					</div>
				</form>
			</div>

		</div>
	</div>
</div>

<!-- Main Page Content -->
	<div class="py-5">
		<h2>Upcoming Events:<h2>

		{% for event in events %}
		<div class="py-2">
			<div class="card">
				<h3 class="card-header">{{ event.title }}</h3>
				<div class="card-body">
					<h4 class="card-title"><i class="far fa-calendar-alt"></i>  {{ event.date }}</h4>
					<h6 class="card-text text-muted"><i class="far fa-clock"></i>  {{ event.time }}</h6>
					<h6 class="card-text text-muted"><i class="fas fa-map-marker-alt"></i>    {{ event.location }}</h6>
					<h6 class="form-text text-muted">Description:</h6>
					<h4 class="card-text">{{ event.description }}</h4>
					<form action="/rsvp/" method="POST">
						{% csrf_token %}
						<input type="text" placeholder="First Name" name="first_name" required="required">
						<input type="text" placeholder="Last Name" name="last_name" required="required">
						<input type="text" placeholder="Class Year" name="class_year" required="required">
						<input type="text" placeholder="Major" name="major" required="required">
						<input type="hidden" value="{{ event.id }}" name="id">
						<input type="submit" value="RSVP" class="btn btn-primary">
					</form>
					<form action="/eventDetail/" method="POST">
						{% csrf_token %}
						<input type="hidden" value="{{ event.id }}" name="id">
						<input type="submit" value="Event Details" class="btn btn-primary">
					</form>
				</div>
			</div>
		</div>
		{% endfor %}

	</div>


{% endblock %}
