{% extends 'base.html' %}

{% block title %}Alumni Events{% endblock %}

{% block content %}


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#eventForm">
	Submit an Event
</button>

<!-- Modal -->
<div class="modal fade" id="eventForm" tabindex="-1" role="dialog" aria-labelledby="eventFormLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="eventFormLabel">Propose an Event</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form action="/add_event/" method="POST">
				{% csrf_token %}
					<input type="text" placeholder="First Name" name="first_name" required="required">
					<input type="text" placeholder="Last Name" name="last_name" required="required">
					<input type="text" placeholder="Class Year" name="class_year" required="required">
					<input type="text" placeholder="Title" name="title" required="required">
					<input type="text" placeholder="Location" name="location" required="required">
					<input type="date" id="start" placeholder="yyyy/mm/dd" name="date" required="required">
					<input type="text" placeholder="Description" name="description" required="required">
					<script type="text/javascript">
									$(document).ready(function(){
										$('#appt-time').timepicker({
												timeFormat: 'h:mm p',
												interval: 60,
												minTime: '0',
												maxTime: '11:00pm',
												defaultTime: '12',
												startTime: '12:00',
												dynamic: true,
												dropdown: true,
												scrollbar: true
										});
									});
					</script>
					<input type="time" id="appt-time" placeholder="hh:mm am/pm" name="time" required="required">
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button type="button submit" class="btn btn-primary">Submit for Approval</button>
					</div>
				</form>
			</div>

		</div>
	</div>
</div>

	<div class="py-5">
		<h2>Upcoming Events:<h2>
		{% for event in events %}
		<div class="py-2">
			<div class="card">
				<h3 class="card-header">{{ event.title }}</h3>
				<div class="card-body">
					<h4 class="card-title">{{ event.date }}</h4>
					<h6>{{ event.time }}</h6>
					<h6 class="card-text">{{ event.location }}</h6>
					<h6 class="card-text">{{ event.description }}</h6>
					<form action="/rsvp/" method="POST">
						{% csrf_token %}
						<input type="text" placeholder="First Name" name="first_name" required="required">
						<input type="text" placeholder="Last Name" name="last_name" required="required">
						<input type="text" placeholder="Class Year" name="class_year" required="required">
						<input type="hidden" value="{{ event.id }}" name="id">
						<input type="submit" value="RSVP" class="btn btn-primary">
					</form>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>


{% endblock %}
