<!-- eventDetail.html -->

<!-- This page displays a focused view of a
single event, also providing the ability to
check in if the user has already RSVP'd -->

<!-- extend base template to minimize repetition -->
{% extends 'base.html' %}

{% block title %}Event Detail{% endblock %}

<!-- Begin Page Content -->
{% block content %}

<!-- Basic Event Information -->
<div class="card">
  <h3 class="card-header">{{ event.title }}</h3>
  <div class="card-body">
    <h2><i class="far fa-calendar-alt"></i>  {{event.date}}</h2>
    <h3 class="text-muted"><i class="far fa-clock"></i>  {{ event.time }}</h3>
    <h3 class="text-muted"><i class="fas fa-map-marker-alt"></i>  {{ event.location}}</h3>
    <h6 class="text-muted">Description:</h6>
    <h4>{{ event.description }}</h4>
  </div>
</div>

<br></br>

<!-- Dynamic Attendance List with the option to check-in -->
<h4>People Attending:</h4>
<table class="table">
  <thead>
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Grad Year</th>
      <th scope="col">Check-In Status</th>
    </tr>
  </thead>
  <tbody>
    {% for peeps in people %}
    <tr>
      <td>{{peeps.first_name}}</td>
      <td>{{peeps.last_name}}</td>
      <td>{{peeps.graduation}}</td>
      <form action="/verify/" method="POST">
        {% csrf_token %}
        {% if peeps.checkedIn != 0 %}
          <td><button type="button submit" class="btn btn-success" disabled>Checked-In</button></td>
        {% else %}
          <input type="hidden" value="{{ event.id }}" name="eventid">
          <input type="hidden" value="{{ peeps.id }}" name="id">
          <td><button type="button submit" class="btn btn-primary">Check-In</button></td>
        {% endif %}
      </form>
    </tr>
    {% endfor %}

  </tbody>
</table>
{% endblock %}
