/* Home Page Styling */
#home {
  background-color: #800303;
  color: #FFFFFF;
  margin: auto;
  text-align: center
}

/* Base Template Styling */
#branding {
  min-height: 100px;
  background-color: #800303;
  color: #FFFFFF;
}

#brand_logo {
  max-width: 300px;
}

.ui-timepicker-container {
  z-index: 9999!important;
}
